{
  "presets": [
    [
      "@babel/preset-env",{
      "targets":{
        "esmodules": true
      }
    }
    ], ["@babel/preset-react" ,  {
      "pragma": "dom",
      "pragmaFrag": "DomFrag",
      "throwIfNamespace": false
    }]
  ]
}
