p{
    color:red;
    background: url(../assets/10297.webp) ;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
    p{
        background: url(../assets/down.webp) ;
    }
}
